body {
  font-family: Helvetica, sans-serif;
}

/* Color variables */
$primary: #64b5f6;
$primary-light: #9be7ff;
$primary-dark: #2286c3;
$primary-text: #212121;

$background-light: #f5f5f6;
$background-dark: #e1e2e1;

.nav-text {
  color: $primary-light;

  &:hover, &:focus {
    color: $primary;
  }
}